.mat-drawer-side{
  background-color: black;
}

.fa-circle-user{
  font-size: 50px;
  margin-top: 50px;
  margin-left: 85px;
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
  cursor: pointer;
}

:host ::ng-deep .fa-circle-user :hover{
  color: gray;
  box-sizing: border-box;
  box-shadow: gray 15px 23px 15px,
              gray 20px 13px 15px;
}
.submenu{
  color: rgb(255, 255, 255) !important;
  padding-left: 0px;
  cursor: pointer;
  font-size: 14px;
}
::ng-deep .submenu:hover .sidebar_menu:hover{
  color: rgb(119, 119, 119) !important;
  cursor: pointer;
  font-weight: bolder;
}

hr{
  width: 100%;
  font-size: 3px;
}

a{
  color: white;
  font-weight: 500;
  margin-left: 70px;
}

li {
  list-style-type: none;
  color: white;
}

.fullName{
text-align: center;
}
