<mat-sidenav-container class="mat-drawer-side">
  <mat-sidenav-content>
    <div class="nav flex-column flex-nowrap vh-100 overflow-auto p-2 sidebar-space">
      <div (click)="goToProfileSettings()">
        <i class="fa-regular fa-circle-user user-icon"></i>
      </div>
      <p class="text-white fullName mt-3">{{logedUserName}} {{logedLastName}}</p>
      <div class="list-unstyled mt-2">
        <li *ngFor="let link of menu ; let i = index; ">
          <ul *ngIf="link.title" class="submenu">
            <hr>
            <a
              class="nav-link sidebar_menu text-white" (click)="navigateToComponent(link.action)"
              [innerHTML]="link.title">
              {{link.title}}</a>
          </ul>
        </li>
        <hr>
          <li class="submenu"><a class="nav-link sidebar_menu text-white"  (click)="logout()">Sign out</a></li>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
