<ng-container *ngIf="dataTour.length ; else noDataTourMessage">
  <div class="container-fluid">
    <div class="row mt-2">
      <ng-container *ngFor="let item of dataTour | paginate: {itemsPerPage : ticketPerPage , currentPage : page}">
        <div class="col-sm-5 col-xl-3">
          <ng-container *ngTemplateOutlet="tourList ; context : { item: item }"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #noDataTourMessage>
  <div class="text-center noDataTourMessage">
    <h5>There are no tours to display !</h5> <br>
    <h5>Stay active on our site for new tours :)</h5>
  </div>
</ng-template>

<ng-template #tourList let-item="item">
  <mat-card class="example-card mb-5">
    <img mat-card-image src="../../../../../assets/images/concert2.jpg" alt="Details">
    <mat-card-content>
      <div class="row">
        <div class="col"><h6> {{item.tourName}} , {{item.cityTourLocation}} </h6></div>
        <div class="col">
          <button mat-raised-button color="primary" (click)="navigateDetailsOfTour(item.barcode)">Details</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>


