.ticket-list {
  border: 1px solid #B5ACAC;
  background-color: #B5ACAC;
  margin-top: 50px;
  box-sizing: border-box;
  box-shadow: #B5ACAC 1px 1px 2px,
  #B5ACAC 1px 3px 5px;
  width: 100%;
  height: 480px;
  border-radius: 15px;
  position: relative;
}

.fa-ticket{
  cursor: pointer;
}

.noItemsMessage{
  background-color: #322121;
}

//design for paginator
::ng-deep {
  .ngx-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .ngx-pagination li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: black;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .ngx-pagination li.current {
    background-color: #322121 ;
  }

  li.small-screen {
    display: none !important;
  }

  .pagination-previous,
  .pagination-next {
    a, span {
      display: none !important;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}
