<div class="container">
  <div class="row backgorund body mt-3">

<!--  Create Ticket Form  -->
    <div class="col-6">
      <form [formGroup]="GenerateTicket" class="create-ticketForm">
        <div class="mt-2 d-flex justify-content-center">
          <h6 class="text-white ticket">Ticket</h6>
        </div>
        <div class="row">
          <div class="col-6">
            <!-- City Tour Location  -->
            <label for="cityTour" class="form-label">City</label>
            <label *ngIf="cityTourLocation?.invalid && (cityTourLocation?.dirty || cityTourLocation?.touched)"
                   class="text-danger">
              <p *ngIf="cityTourLocation?.errors?.['required']">City is required.</p>
              <p *ngIf="cityTourLocation?.errors?.['pattern']">City must have text characters !</p>
            </label>
            <input id="cityTour" class="form-control" name="cityTourLocation" formControlName="cityTourLocation">

            <!-- Address of the Concert -->
            <label for="addressLocation" class="form-label">Address</label>
            <label *ngIf="addressLocation?.invalid && (addressLocation?.dirty || addressLocation?.touched)"
                   class="text-danger">
              <p *ngIf="addressLocation?.errors?.['required']"> Address is required. </p>
              <p *ngIf="addressLocation?.errors?.['pattern']"> Write th address in correct format!</p>
            </label>
            <input id="addressLocation" class="form-control" name="addressLocation" formControlName="addressLocation">

            <!-- Tour Name for the Concert  -->
            <label for="tourName" class="form-label">Tour Name</label>
            <label *ngIf="tourName?.invalid && (tourName?.dirty || tourName?.touched)" class="text-danger">
              <p *ngIf="tourName?.errors?.['required']"> Tour Name is required. </p>
              <p *ngIf="tourName?.errors?.['pattern']"> Tour Name must have text charactes!</p>
            </label>
            <input id="tourName" class="form-control" name="tourName" formControlName="tourName">

            <!-- Start date of the concert -->
            <label for="data" class="form-label">Tour Date</label>
            <label *ngIf="tourDate?.invalid && (tourDate?.dirty || tourDate?.touched)" class="text-danger">
              <p *ngIf="tourDate?.errors?.['required']">Toour Date is required.</p>
            </label>
            <input id="data" type="date" class="form-control" name="tourDate" formControlName="tourDate" [min]="ToDate">
          </div>

          <div class="col-6">
            <!-- Price of the ticket -->
            <label for="priceOfTicket" class="form-label">Price</label>
            <label *ngIf="priceOfTicket?.invalid && (priceOfTicket?.dirty || priceOfTicket?.touched)"
                   class="text-danger">
              <p *ngIf="priceOfTicket?.errors?.['required']"> Price of ticket is required. </p>
              <p *ngIf="priceOfTicket?.errors?.['pattern']"> Price must be number characters ! </p>
              <p *ngIf="priceOfTicket?.errors?.['min']"> Price must be greater then 34$. </p>
              <p *ngIf="priceOfTicket?.errors?.['max']"> Price must be less then 1200$. </p>
            </label>
            <input id="priceOfTicket" type="number" class="form-control" name="priceOfTicket"
                   formControlName="priceOfTicket" min="35" max="1200">

            <!-- Barcote of ticket to identify it -->
            <label for="barcode" class="form-label">Barcode</label>
            <label *ngIf="barcode?.invalid && (barcode?.dirty || barcode?.touched)" class="text-danger">
              <p *ngIf="barcode?.errors?.['required']"> Barcode is required.</p>
              <p *ngIf="barcode?.errors?.['pattern']"> Barcode must be number characters ! </p>
              <p *ngIf="barcode?.errors?.['minLength']"> Barcode must have at least 15 numbers. </p>
            </label>
            <input id="barcode" class="form-control" name="barcode" formControlName="barcode">

            <!-- Insert a picture for the ticket design-->
            <label for="wallpaper" class="form-label">Insert Photo</label>
            <label *ngIf="uploadedImage?.invalid && (uploadedImage?.dirty || uploadedImage?.touched)"
                   class="text-danger">
              <p *ngIf="uploadedImage?.errors?.['required']"> You should upload a photo! </p>
            </label>
            <input id="wallpaper" class="form-control" type="file" name="uploadedImage" formControlName="uploadedImage"
                   (click)="handleImgFormat($event)">

            <!-- Artist or Band Name that they will sing -->
            <label for="artistName" class="form-label">Artist Name</label>
            <label *ngIf="artistName?.invalid && (artistName?.dirty || artistName?.touched)" class="text-danger">
              <p *ngIf="artistName?.errors?.['required']"> Artist name is required. </p>
              <p *ngIf="artistName?.errors?.['pattern']"> Artist name must be text characters ! </p>
            </label>
            <input id="artistName" class="form-control" name="artistName" formControlName="artistName">
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn" [disabled]="GenerateTicket.invalid"
                  (click)="generateTicket(GenerateTicket.value)">Create
          </button>
        </div>
      </form>
      <div *ngIf="ticetCreatedSucces" class="bg-success text-white d-flex justify-content-center">
        <h6>Ticket is created Successfully.</h6>
      </div>
      <div *ngIf="ticetCreatedError" class="bg-danger text-white d-flex justify-content-center">
        <h6>Ticket is not created !</h6>
      </div>
    </div>

<!--List Of Ticket Form-->
    <div class="col-6 ">
      <ul class="list-group ticket-list" *ngIf="ticketDetails.length >= 1">
        <form [formGroup]="searchTicket">
          <div class=" input-group">
            <input type="search" placeholder="Search for Ticket From City Name" class="form-control mt-1" name="cityTourLocation"
                   formControlName="cityTourLocation" [(ngModel)]="ticket">
          </div>
        </form>
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of ticketDetails | searchCityTourLocationFilter : ticket | paginate: {itemsPerPage : ticketPerPage , currentPage : page}">
          <p class="d-flex justify-content-start">{{item.barcode}}</p>
          <p class="d-flex justify-content-start">{{item.tourName}}</p>
          <p class="d-flex justify-content-center">{{item.cityTourLocation}}</p>
<!--          <div  [routerLink]="['rihanna/ticket/' , item.barcode]" >-->
          <div  (click)="navigateDetailsOfTicker(choosenBarcode)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16"
               height="16" fill="currentColor"
               class="bi bi-three-dots-vertical"
               viewBox="0 0 16 16" >
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
          </div>
        </li>
        <div class="mt-3">
        <div class="py-5 flex justify-center align-center">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
        </div>
      </ul>
    </div>

  </div>
</div>
