<div class="container mt-5 m-5">
  <div class="d-flex justify-content-center">
    <h4 class="text-secondary">My Profile</h4>
  </div>

  <ng-container *ngIf="userData ; else noUserData" class="body-ticket d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="profileData"></ng-container>
  </ng-container>

  <ng-template #profileData>
    <form [formGroup]="formGroupProfile">
      <div class="row mt-5 ps-5 d-flex justify-content-center">
<!--            [parentFormGroup]="sharedFormGroup"-->
          <app-reactive-form
            controlKey="personalDataFormGroup"
            (makeFieldEnabled)="makeFieldsEnabled()"
          ></app-reactive-form>
        <div class="col-6 first-col">
          <!--  Password    -->
          <mat-form-field class="example-full-width mb-4 px-5">
            <mat-label>Password</mat-label>
            <input matInput [type]="isVisiblePassword ? 'text' : 'password' " placeholder=" Password " name="password" formControlName="password">
            <div>
              <i *ngIf="isVisiblePassword" (click)="hidePassword()" class="fa-solid fa-eye-slash px-5 mx-5"></i>
              <i *ngIf="!isVisiblePassword" (click)="visiblePassword()" class="fa-solid fa-eye px-5 mx-5"></i>
            </div>
            <mat-hint *ngIf="currentPassword?.invalid ||  (currentPassword?.touched ||  currentPassword?.dirty)"
                      class="text-danger fw-bold">
              <div *ngIf="currentPassword?.errors?.['required']">Password is Required</div>
              <div *ngIf="currentPassword?.errors?.['minlength']">Password should have at least 8
                characters
              </div>
              <div *ngIf="currentPassword?.errors?.['maxlength']">Password should have less than 16
                characters
              </div>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="col-6">
          <!--  Role    -->
          <mat-form-field class="example-full-width mb-5 mt-3 px-5">
            <mat-label>Role</mat-label>
            <input matInput name="role" formControlName="role">
            <mat-hint *ngIf="role?.invalid ||  (role?.touched || role?.dirty)">
              <div *ngIf="role?.errors?.['required']">Role is Required</div>
            </mat-hint>
          </mat-form-field>
        </div>

      </div>
    </form>
  </ng-template>

  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-outline-primary" [disabled]="formGroupProfile.invalid || isBtnChangeDataClicked" (click)="updateProfile()">
      Save Changes
    </button>
  </div>
</div>

<ng-template #noUserData>
  <div class="text-center noDataTourMessage">
    <h5>There are no data to display !</h5> <br>
  </div>
</ng-template>

