<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <a href="#" (click)="selectLanguage($event , languageModel.English)"><i class="flag flag-united-kingdom"></i>English</a>
      <a href="#" (click)="selectLanguage($event , languageModel.Albanian)"><i class="flag flag-albania px-3"></i><span class="px-2">Shqip - Albanian</span></a>
      <a href="#" (click)="selectLanguage($event , languageModel.Spanish)"><i class="flag flag-spain px-3"></i>Español - Spanish</a>
    </div>
  </div>
</div>
