<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="text-center">
          <h1><strong>RIHANNA</strong></h1>
        </div>
        <div class="text-center">
          <h1><strong>Welcome Back</strong></h1>
        </div>
        <div class="text-center text-secondary">The Faster you fill up, the faster you get a ticket</div>

        <div *ngIf="loadingSpinner"  class="d-flex justify-content-center">
          <mat-spinner  color="warn" (progress)="signinLoading()"></mat-spinner>
        </div>

        <div *ngIf="displayErrorMsg" >
          <div class="error-message d-flex justify-content-center">
            {{errormsg}}
          </div>
        </div>


        <form [formGroup]="loginFormGroup">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email" placeholder="Ex. pat@example.com">
            <i class="fa-solid fa-envelope"></i>
            <mat-hint *ngIf="loginFormGroup.get('required')?.errors">
              Email is <strong>required</strong>
            </mat-hint>
            <mat-hint *ngIf="loginFormGroup.get('email')?.errors">
              Please enter a valid email address
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" formControlName="password"
                   placeholder="The Password You Used During Registration">
            <i class="fa-solid fa-key"></i>
            <mat-error *ngIf="loginFormGroup.get('required')?.errors">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginFormGroup.get('password')?.errors">
              Password is not <strong>correct</strong>
            </mat-error>
          </mat-form-field>
          <button class="btn btn-dark" [disabled]="loginFormGroup.invalid" (click)="signin(loginFormGroup)">Sign in</button>
        </form>

        <div class="row">
          <div class="col text-center">
            <div class="text-secondary">Don't have an account?</div>
            <button class="btn btn-dark" (click)="goToRegisterPage()">Sign up</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <img
          src="https://hips.hearstapps.com/ell.h-cdn.co/assets/16/10/1280x1280/square-1457901132-gettyimages-494142426.jpg?resize=640:*"
          class="img-riri">
      </div>
    </div>
  </div>
</div>
