.body {
  background-image: url('https://conc.art/files/2015/04/rihanna_ncaa_final_four_march_madness_indianapolis_2015-008-1200x675-cropped.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px 120px 100px 120px;
}

.body-ticket{
  margin-left: 200px;
  border-radius: 30px;
  background-color: white;
  margin-top: 150px;
  height: 350px;
  width: 700px;
  box-sizing: border-box;
  box-shadow: #252525 1px 3px 5px 3px,
              #252525 2px 3px 3px;
}

.image-barcode{
  rotate: 90deg;
  width: 287px;
  margin-top: 90px;
  margin-left: -100px;
}
.barcode{
  rotate: 270deg;
  margin-left: 70px;
  font-weight: bold;
}
