<form [formGroup]="generateTicketForm" class="create-ticketForm">
  <div class="mt-2 d-flex justify-content-center">
    <h6 class="text-white ticket">Ticket</h6>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- City Tour Location  -->
      <label for="cityTour" class="form-label">City</label>
      <label *ngIf="cityTourLocation?.invalid && (cityTourLocation?.dirty || cityTourLocation?.touched)"
             class="text-danger">
        <p *ngIf="cityTourLocation?.errors?.['required']">City is required.</p>
        <p *ngIf="cityTourLocation?.errors?.['pattern']">City must have text characters !</p>
      </label>
      <input id="cityTour" class="form-control" name="cityTourLocation" formControlName="cityTourLocation">

      <!-- Address of the Concert -->
      <label for="addressLocation" class="form-label">Address</label>
      <label *ngIf="addressLocation?.invalid && (addressLocation?.dirty || addressLocation?.touched)"
             class="text-danger">
        <p *ngIf="addressLocation?.errors?.['required']"> Address is required. </p>
      </label>
      <input id="addressLocation" class="form-control" name="addressLocation" formControlName="addressLocation">

      <!-- Tour Name for the Concert  -->
      <label for="tourName" class="form-label">Tour Name</label>
      <label *ngIf="tourName?.invalid && (tourName?.dirty || tourName?.touched)" class="text-danger">
        <p *ngIf="tourName?.errors?.['required']"> Tour Name is required. </p>
        <p *ngIf="tourName?.errors?.['pattern']"> Tour Name must have text charactes!</p>
      </label>
      <input id="tourName" class="form-control" name="tourName" formControlName="tourName">

      <!-- Start date of the concert -->
      <label for="data" class="form-label">Tour Date</label>
      <label *ngIf="tourDate?.invalid && (tourDate?.dirty || tourDate?.touched)" class="text-danger">
        <p *ngIf="tourDate?.errors?.['required']">Toour Date is required.</p>
      </label>
      <input id="data" type="date" class="form-control" name="tourDate" formControlName="tourDate" [min]="ToDate">
    </div>

    <div class="col-6">
      <!-- Price of the ticket -->
      <label for="priceOfTicket" class="form-label">Price</label>
      <label *ngIf="priceOfTicket?.invalid && (priceOfTicket?.dirty || priceOfTicket?.touched)"
             class="text-danger">
        <p *ngIf="priceOfTicket?.errors?.['required']"> Price of ticket is required. </p>
        <p *ngIf="priceOfTicket?.errors?.['pattern']"> Price must be number characters ! </p>
        <p *ngIf="priceOfTicket?.errors?.['min']"> Price must be greater then 34$. </p>
        <p *ngIf="priceOfTicket?.errors?.['max']"> Price must be less then 1200$. </p>
      </label>
      <input id="priceOfTicket" type="number" class="form-control" name="priceOfTicket"
             formControlName="priceOfTicket" min="35" max="1200">

      <!-- Barcode of ticket to identify it -->
      <label for="barcode" class="form-label">Barcode</label>
      <label *ngIf="barcode?.invalid && (barcode?.dirty || barcode?.touched)" class="text-danger">
        <p *ngIf="barcode?.errors?.['required']"> Barcode is required.</p>
        <p *ngIf="barcode?.errors?.['pattern']"> Barcode must be number characters ! </p>
        <p *ngIf="barcode?.errors?.['minlength']"> Barcode must have 16 numbers. </p>
        <p *ngIf="barcode?.errors?.['maxlength']"> Barcode must have 16 numbers. </p>
      </label>
      <input id="barcode" class="form-control" name="barcode" formControlName="barcode" [maxlength]="16" [minlength]="16">

      <!-- Insert a picture for the ticket design-->
      <label for="wallpaper" class="form-label">Insert Photo</label>
      <label *ngIf="uploadedImage?.invalid && (uploadedImage?.dirty || uploadedImage?.touched)"
             class="text-danger" >
        <p *ngIf="uploadedImage?.errors?.['required']"> You should upload a photo! </p>
      </label>
      <input id="wallpaper" class="form-control" type="file" name="uploadedImage" formControlName="uploadedImage"
             (change)="handleImgFormat($event)" [accept]="allowedFileExtension">

      <!-- Artist or Band Name that they will sing -->
      <label for="artistName" class="form-label">Artist Name</label>
      <label *ngIf="artistName?.invalid && (artistName?.dirty || artistName?.touched)" class="text-danger">
        <p *ngIf="artistName?.errors?.['required']"> Artist name is required. </p>
        <p *ngIf="artistName?.errors?.['pattern']"> Artist name must be text characters ! </p>
      </label>
      <input id="artistName" class="form-control" name="artistName" formControlName="artistName">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn" [disabled]="generateTicketForm.invalid"
            (click)="generateTicket()">Create
    </button>
  </div>
</form>
