<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h1><strong>RIHANNA</strong></h1>
      </div>
      <div class="col-sm-2 text-center nav_title"><b>HOME</b></div>
      <div class="col-sm-2 text-center nav_title"><b>MUSIC</b></div>
      <div class="col-sm-2 text-center nav_title"><b>TICKET</b></div>
      <div class="col-sm-2 text-center nav_title"><b>NEWS</b></div>
    </div>
  </div>
</nav>
<div class="container-fluid nav_img">
  <div class="container ">
    <div class="row">
      <div class="col-8">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/singer-rihanna-performs-onstage-during-directv-super-news-photo-462608320-1554300163.jpg"
          class="img-riri">
      </div>
      <div class="col-4">
        <div class="thumbnail">
          <h1 class="describe"><b class="text-white">New Tour Dates Announced</b></h1>
          <p class="describe_2">" Robyn Rihanna Fenty NH is a Barbadian singer,
            actress, and businesswoman. Born in Saint Michael and raised in Bridgetown,
            Barbados, Rihanna auditioned for American record producer Evan Rogers who
            invited her to the United States to record demo tapes. "</p>
        </div>
        <div class="find">

          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-tiktok"></i>
          <i class="fa-brands fa-reddit"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="row">
          <button class="btn1">SIGN IN</button>
          <button class="btn2">SIGN UP</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <p class="text-white text-center">&copy; All Rights Reserved &rightarrow; Edited by Egli Maja</p>
    </div>
  </div>
</div>
