.navbar-brand{
  font-weight: bolder;
  font-size: 35px;
  font-style: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 114px;
}

.bg{
 background: rgba(217, 217, 217, 1);
}
