
.fa-regular{
  font-size: 50px;
  margin-top: 50px;
  margin-left: 85px;
  color: rgb(253, 253, 253);
  margin-bottom: 10px;
}
.submenu{
  color: rgb(255, 255, 255);
  padding-left: 0px;
  cursor: pointer;
  font-size: 14px;
}

hr{
  width: 100%;
  font-size: 3px;
}

a{
  color: white;
  font-weight: 500;
  margin-left: 70px;
}

li {
  list-style-type: none;
  color: white;
}

.fullName{
text-align: center;
}


