:host ::ng-deep {
  .mat-horizontal-stepper-header .mat-step-icon {
    width: 40px;
    height: 40px;
  }

  .mat-step-icon .mat-icon {
    content: "\f099";
  }
  #price {
    color: #3F51B5;
    opacity: 1;
    font-weight: bold;
  }
}

.loading {
  margin-top: 300px;
}

.text-price {
  color: #FF4081;
  padding-left: 280px;
}
