<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <ng-template matStepLabel><b>Fill out your data</b></ng-template>
        <app-fill-out-ticket></app-fill-out-ticket>
        <button mat-button (click)="stepper.next()">Next</button>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <ng-template matStepLabel><strong>Confirm your ticket</strong></ng-template>
        <app-confirm-ticet></app-confirm-ticet>
        <button mat-button (click)="stepper.next()">Next</button>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><strong>Pay for your ticket</strong></ng-template>
        <app-payment-ticket></app-payment-ticket>
        <div>
            <button mat-button (click)="stepper.previous()">Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
